body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}
.welcome {
	margin: 0px;
	background-color: #0a0008;
}
.wyndtext {
	margin: 0px;
	padding: 5px;
	color: #ff00d0;
	text-decoration: none;
}
