/*body {
 margin: 0px;
 padding: 0px;
}*/
.container {
  background-color: lightblue;
  border: 20px solid blue;
  position: relative;
}
.welcome {
  background-color: lightblue;
  border: 20px solid blue;
  font-size: 2vw;
}
