body {
 margin-top: 0.5vw;
 margin-left: 0.5vw;
 margin-right: 0.5vw;
 padding: 0px;
 position: absolute;
}
.header {
 height: 20vw;
 width: 100vw;
 background-color: blue;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
