body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}
.welcome {
	margin: 0px;
	background-color: #170114;
}
.wyndtext {
	margin: 0px;
	padding: 5px;
	color: #521f4b;
}
.wyndlink {
	text-decoration: none;
}
