body {
 padding: 0px;
 position: absolute;
}
.header {
  margin-top: 0.5vw;
 margin-left: 0.5vw;
 height: 20vw;
 width: 99vw;
 background-color: blue;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
