body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}
.welcome {
	margin: 0px;
	background-color: #0a0008;
	text-align: center;
}
.wyndtext {
	margin: 0px;
	padding: 5px;
	color: #ff00d0;
}
